[submodule "firmware/tools/extractor"]
	path = firmware/tools/extractor
	url = https://github.com/srlabs/extractor
[submodule "firmware/tools/twrpdtgen"]
	path = firmware/tools/twrpdtgen
	url = https://github.com/twrpdtgen/twrpdtgen
